:root {
    --pale-blue: hsl(225, 100%, 94%);
   --Bright-blue: hsl(245, 75%,52%);
   --Very-pale-blue: hsl(225, 100%,98%);
   --desaturated-blue: hsl(224, 23%,55%);
   --dark-blue: hsl(223, 47%,23%);
}
*{
   margin:0;
   padding:0;
     box-sizing: border-box;
} 

body {
   background-color:rgb(56, 10, 116);
   background-size:cover;
}



.card {
   width:450px;
   background-color: white;
   color:var(--desaturated-blue);
   border-radius: 20px;
   overflow:hidden;
   margin:40px auto;
}
.title{
   color:var(--dark-blue);
   font-weight: 900;
   font-size: 32px;

}
.hero-image{
   width:100%
}
.container{
   padding:30px;
   display:flex;
   flex-direction: column;
   justify-content:center;
   text-align: center;
   font-size: 18px;
}
.container >* { 
margin:13px 0;
}

.order-description{
   line-height:25px;
}
.plan-container{
   font-size: 16px;
   background-color: var(--Very-pale-blue);
   padding:10px;
   border-radius: 25px;
   display:flex;
   justify-content: space-between;
   align-items:center ;
}

.plan-container a{
   color:var(--Bright-blue);
   font-size:13px;
   font-weight: 700px;
}

.plan-container a:hover{

   color:var(--Bright-blue);
   text-decoration: none;
}

.plan-container strong{
   color: black;
}

.plan-description{
   line-height: 20px;
   margin-right: 75px;
}

button{
   width: 100%;
   border:none;
   font-weight: 700px;
   font-size: 0.9em;
   border-radius:12px;
   cursor:pointer;
}

.proceed-button{
   background-color:var(--Bright-blue);
   padding:1rem 0;
   color:white;
   box-shadow:var(--dark-blue);
  font-weight: 700px;
}

.proceed-button:hover{
   opacity: 0.5;
}

.cancel-button {
   background-color: white;
   color:var(--desaturated-blue);
   margin-top:22px;
}

.cancel-button:hover{
   color: black;
}

